    <div class="container-fluid">
      <nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar navbar-inverse">
          <ul class="nav nav-pills nav-justified">
            <li><a href='/'>Home</a></li>
	    <li><a href='/capture/'>Capture</a></li>
            <li><a href='/article/index'>Article</a></li>
            <li><a href='/z_frontPage/index.html'>How</a></li>
            <li><a href='/z_org/lizhhui.html'>Doc</a></li>
            <li><a href='/z_todo/capture.html'>Archieve</a></li>
            <li><a href='/z_pic/index.html'>Life</a></li>
            <li><a href='/memo/'>Memo</a></li>
          </ul>
	</div>
      </nav>
    </div>

