<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>LZH website</title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/static/z_css/timeline.css">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
	<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>
  <body>
    <div class="container-fluid">
      <h1><b>xx</b> X</h1>
      <p>CPU designer, Lisper, Smalltalker & Emacs maniac.</p>

      <div class="navbar navbar-inverse">
        <ul class="nav nav-pills">
          <li><a href='/'>Home</a></li>
          <li><a href='/z_frontPage/index.html'>frontBlog</a></li>
          <li><a href='/z_todo/index.html'>Todo</a></li>
          <li><a href='/z_org/lizhhui.html'>Doc</a></li>
          <li><a href='/z_pic/index.html'>Photo</a></li>
          <li><a href='/resume.html'>Contact</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-sm-8">
	  <div class="form-group">
            <form class="form-signin" method="post" id="text_form">
	      <label for="name">文本框</label>
	      <textarea class="form-control" rows="8" name="nnn" >{{textcontent}}</textarea>
              <input type="password" name="passtext" class="form-control" value="c" placeholder="Password">
              <button class="btn btn-success" type="submit" id="submit-text">OK</button>
	      <label class="radio-inline"><input type="radio" name="add" value="** CAP " checked="checked" />cap</label>
	      <label class="radio-inline"><input type="radio" name="add" value="** TODO " />todo</label>
	      <label class="radio-inline"><input type="radio" name="add" value="** MEMO " />memo</label>
            </form>
	  </div>

          <div id="memos">
	    <h1> Check this out </h1>
	    <div class="well" id="memo_div">
	      {% for kk in memo_item %}
	      <h4> {{kk[1]}} </h4>
	      <p> {{kk[2]|safe}} </p>
	      {% endfor %}
	    </div>
            <form class="form-signin" method="post" id="form_memo" onsubmit="false">
              <button class="btn btn-success" onclick="submit_memo()" type="button" name="ok">OK</button>
              <button class="btn btn-success" onclick="show_memo()"   type="button" name="show">Show</button>
              <button class="btn btn-success" onclick="fail_memo()"   type="button" name="no">NO</button>
	      <textarea class="form-control" rows="1" id="memo_chk_sta" name="memo_chk_sta" >empty</textarea>
            </form>
	  </div>
	  
          <div id="capture">
	    <h1> Capture without archieve </h1>
	    <ul class="timeline">
	      <li><div class="tldate">Apr 2014</div></li>
	      
	      {% for kk in cap_item %}
	      <li class="timeline-inverted">
		<div class="tl-circ"></div>
		<div class="timeline-panel">
		  <div class="tl-heading">
		    <h4>{{kk[1]}}</h4>
		    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{kk[0]}}</small></p>
		  </div>
		  <div class="tl-body">
		    <p>{{kk[2]|safe}}</p>
		  </div>
		</div>
	      </li>
	      {% endfor %}

	    </ul>
	  </div>
	  
	  <!--
              <div id="capture">
		<h1> Capture without archieve </h1>
		{% for kk in cap_item %}
		<li> {{kk[0]}} </li>
		<p> {{kk[1]}} </p>
		{% endfor %}
	      </div>
	      -->

          <div id="content">
	    <h1> blog </h1>
            <ul class="org-ul">
              {% for name in posts_key %}
              <li><a href= "z_frontPage/{{name[1]}}.html ">
                  {{name[0]}} {{name[1]}}
              </a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="col-sm-4">


          <div class="well"><h1> Todo </h1>
	    {% for kk in todo_item %}
	    <li> {{kk[1]}} </li>
	    {% endfor %}
	  </div>

          <div class="well"><p id="sv_p"> Working ...  </p></div>
          <div class="well"><p id="ws_p"> Working ...  </p></div>

          <form class="form-signin" method="post" id="xx_form">
            <input type="text" name="username" class="form-control" placeholder="email-phone-name">
            <input type="password" name="pass" class="form-control" placeholder="Password">
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
	<p class="text-muted">Copyright@LZH 2018.</p>
      </div>
    </footer>

    <!-- customize js -->
    <script src="/static/js/lzh.js"></script> 

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
